@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: black;
  max-width: 1100px;
  margin: auto;
  width: 95%;

}

.header-logo {
  width: 40%;
}

.social {
  a {
    padding: 5px;
  }
}

.header-nav {
  width: 40%;
}

.header-link {
  padding: 10px 20px;

}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px 0;
  }
  .header-logo {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
}

/* BANNER */
.banner {
  background: url(../../public/papito-bg.png) center bottom no-repeat;
  background-size: cover;
}

.banner .container {
  height: 100%;
}

.banner-title {
  background: white;
  color: black;
  margin-top: 60px;
  border-radius: 14px;
  padding: 8px 40px;
  display: inline-block;
  font-size: 35px;
  max-width: 630px;
}

.banner-text {
  max-width: 800px;
  margin: auto;
  width: 95%;
  text-align: center;
  background: white;
  color: black;
  border-radius: 14px;
  padding: 8px 40px;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .banner.h-80 {
    height: 50vh;
  }
  .banner-title {
    font-size: 18px;
    padding: 8px 10px;
    background-color: rgb(255 255 255 / 78%);
  }
  .banner-text {
    font-size: 12px;
    padding: 8px 10px;
    background-color: rgb(255 255 255 / 78%);
  }
}

/* TOURS */
.tours {

  background: #edebeb;
  color: black;
  padding: 50px 0;
}
.tours-title {
  font-size: 25px;
}
.tours-description {
  font-size: 20px;
  margin-bottom: 50px;

}
.tour-items {
  flex-wrap: wrap;
}
.tour-item {
  width: 23%;
  margin: 1%;
  background: white;
}
.tour-item-img  {
  width: 100%;
}
.tour-item-title {
  font-size: 17px;
  font-weight: bold;
  padding: 5%;
  margin: 0;
  padding-bottom: 0;
}
.tour-item-description {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .tour-item {
    width: 48%;
  }
  .tours-title {
    font-size: 18px;

  }
  .tours-description {
    font-size: 16px;

  }
}
@media screen and (max-width: 420px) {
  .tour-item {
    width: 100%;
    margin-bottom: 10px;
    
  }
}

/* PARTNERS */
.partners {
  background: url(https://static.wixstatic.com/media/41187b_93258920ba7a4ecdb0aaf5f0459dbe62~mv2.jpg/v1/fill/w_1465,h_341,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/41187b_93258920ba7a4ecdb0aaf5f0459dbe62~mv2.jpg) center center no-repeat;
  background-size: cover;
  padding: 30px 0;
}
.partners-title {
  font-size: 40px;
  color: white;
  width: 40%;

  margin-left: 20px;
  font-weight: bold;
}
.partners-images {
  width: 50%;
  flex-wrap: wrap;
}
.partners-image {
  max-width: 140px;
  width: 100%;
  margin: 10px;
}
.partners-image img {
  width: 100%;
}



.h-80 {
  height: 80vh;
}

.container {

  max-width: 1200px;
  margin: auto;
  width: 95%
}